body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  text-align: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --main-bg:#FAFAFA
}
.bg-main{
  background-color: var(--main-bg);
}
.simple-border{
  border-left: 1px solid lightgray;
}
.links{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.bg-main-dark{
  background-color: var(--main-color) !important;
}
.inp{
  border: none;
  outline: none;
  border-bottom: #76b49f 2px solid;
  margin: 20px;
}
.text-main{
  color:#9abf4d !important;
  
}
.center-text{
  text-align: center;
}
.text-pointer{
  cursor: pointer;
}
.item:hover{
  box-shadow: var(--shadow);
  border-radius: solid 1px var(--main-color);
}
/* .text-color{
  color: #071355;
} */
.input-modal{
  width: 50%;
    height: 30px;
    padding: 7px;
    margin: 4px;
    border: none;
    border: 1px solid #76b49f;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 3px;

}
.input-modal:focus::placeholder {
  transform: translateX(15px) translateY(-5px);
  transition: transform 0.3s ease;
  color: #76b49f;
  padding-right: 3px;
}
.card-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.botton{
  background-color: #76b49f !important;
  color: white !important;
  outline: none  !important;
  border: none !important;
}
.card-style{
  max-height: 500px !important;
  margin: 20px 0;
}
.form-button{
  color: white !important;
  background-color: #9abf4d !important;
}